{% extends 'base.html.twig' %}

{% block body %}
    <h1>You have applied!</h1>
    <p>We'll get back to you!</p>
    <p>Hint: check the mail for the admin at: http://localhost:1080/</p>
{% endblock %}

